@import "../../palette/palette.scss";
@import "../../components//button/btn.scss";
@import "../../components//container.scss";
@import "../../components/box/box.scss";
.teams-container {
  min-height: calc(100vh - 57px);
  width: 100%;
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("text");
  }
  padding: 32px 0px;
  display: flex;
  justify-content: center;
  &__body {
    @include container-widths;
    &__tabs {
      margin-top: 12px;
      .MuiTabs-indicator {
        @include themify($themes) {
          background-color: themed("selected-item-color");
        }
      }
      &__item {
        @include btnText;
        &:hover {
          @include themify($themes) {
            background-color: transparent;
          }
        }
      }
    }
  }
}
